<form method="post" action="{{ path('job_offer_delete', {'id': job_offer.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ job_offer.id) }}">
   <button onclick="return prompt('Please Type \'Delete my job offer\' to delete your job offer') == 'Delete my job offer'" class="btn waves-effect waves-light red"><i class="material-icons">&#xE872;</i> Delete my job offer</button>
</form>
