{% extends 'base.html.twig' %}

{% block title %}Edit JobOffer{% endblock %}

{% block body %}
   <div class="base">
    <!-- Page -->
    <div class="page">

        <!-- Page Header-->
        <section class="padding-top-160 padding-bottom-80">
   
    {{ include('job_offer/_form.html.twig', {'button_label': 'Update'}) }}
<div class="row center"></br>
    <div class="col s12">
    {{ include('job_offer/_delete_form.html.twig') }}
   </div>
</div>
        </section>
    </div>
</div>  
{% endblock %}
