{% extends 'base.html.twig' %}

{% block title %}Edit JobType{% endblock %}

{% block body %}
    <h1>Edit JobType</h1>

    {{ include('job_type/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
