{% extends 'base.html.twig' %}

{% block title %}Candidacy{% endblock %}

{% block body %}
    <h1>Candidacy</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ candidacy.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('candidacy_index') }}">back to list</a>

    <a href="{{ path('candidacy_edit', {'id': candidacy.id}) }}">edit</a>

    {{ include('candidacy/_delete_form.html.twig') }}
{% endblock %}
